// Home Page
// Base Styles

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../Images/HomePageBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    position: relative;
}
.members{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img{
        transition: all .5s;
        width: 80%;
    }
    img:hover{
        filter: brightness(180%);
        -webkit-filter: brightness(180%);
    }
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: -80px;
    height: 130px;
    img{
        width: 100%;
        padding: 5%;
        transition: all .5s;
    }
    img:hover{
        filter: brightness(180%);
        -webkit-filter: brightness(180%); 
    }
}


.TMElogo{
    position: relative;
    bottom: -60px;
    img{
        width: 50%;
        transition: all .5s;
    }
    img:hover{
        filter: brightness(180%);
        -webkit-filter: brightness(180%); 
    }
}
