// Base Styles
//Landing Page

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../Images/TMEBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}
img{
    position: absolute;
    bottom: 30px;
    left: 140px;
    width: 35%;
    transition: all .5s;
}
img:hover {
    filter: brightness(180%);
   -webkit-filter: brightness(180%); 
}